* {
    padding: 0;
    margin: 0 auto;
}

body {
    background-image: url(/img/Deep\ Space\ \(1\).jpg);
    background-size: cover;
}

nav,
header,
section,
footer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

nav {
    height: 80px;
    background-color: whitesmoke;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;

}

img {
    height: 50px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    widows: 100%;

}

.introduction {
    background-color: whitesmoke;
    width: 600px;
    border-radius: 15px;
    margin-bottom: 80px;

}

footer {
    height: 100px;
    background-color: whitesmoke;
    margin-bottom: 0;
}

/* Mobile styles */
@media screen and (max-width: 400px) {
    .introduction {
        width: 300px;
    }
}

@media screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black;
    }

    footer {
        margin-top: 250px;
    }
}